
.about-page-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; 
  margin: 3rem;
  min-height: 60vh;
}

.about-page-title {
    font-family: var(--font-title);
    font-size: 3rem;
    font-weight: 200;
    color: var(--color-primary);
  }

  .about-page-subtitle {
    font-family: Roboto, sans-serif;
    font-size: .8rem;
    font-weight: 300;
    margin-top: 1rem; 
    width: 100%; 
  }

  .animatedUnderline {
    position: relative;
    display: inline-block;
    text-decoration: none;
  }
  
  .animatedUnderline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: var(--color-primary);
    animation: drawUnderline 4s linear infinite;
  }

  .italic {
    font-style: italic;
  }

  .link-no-underline {
    text-decoration: none;
  }
  
  @keyframes drawUnderline {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }

  .light-theme .animatedUnderline {
    color: #342f2d;
  }

  .light-theme  .link-no-underline{
    color: var(--color-primary);
  }

  .dark-theme .animatedUnderline {
    color: #EEE9E3;
  }

  .dark-theme .about-page-title, .link-no-underline {
    color: var(--color-accent);
  }

  @media (min-width: 768px) {
  

      .about-page-subtitle {
        font-size: 1rem; 
      }
  } 
  