
.about-page-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  text-align: left; 
  margin: 3rem;
}

.about-page-title {
    font-family: Oranienbaum;
    font-size: 2rem;
    font-weight: 200;
    color: #D6594C;
  }

  .about-page-subtitle {
    font-family: Roboto, sans-serif;
    font-size: .8rem;
    font-weight: 300;
    margin-top: 1rem; 
    width: 100%; 
  }

  .animatedUnderline {
    position: relative;
    display: inline-block;
    text-decoration: none;
  }
  
  .animatedUnderline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #D6594C;
    animation: drawUnderline 4s linear infinite;
  }

  .italic {
    font-style: italic;
  }

  .link-no-underline {
    text-decoration: none;
    color: #D6594C;
  }
  
  @keyframes drawUnderline {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }

  .light-theme .animatedUnderline {
    color: #342f2d;
  }

  .dark-theme .animatedUnderline  {
    color: #EEE9E3; 
  }

  @media (min-width: 768px) {
  
    .about-page-title {
      font-size: 6rem;
      padding-top: 3rem;
      }

      .about-page-subtitle {
        font-size: 1rem; 
      }
  } 
  