 
 .contact-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    overflow: hidden;
  }
  
  .contact-page-title {
    font-family: var(--font-title);
    font-size: 3rem;
    color: var(--color-primary);
    margin: 1rem;
  }

  .contact-page-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contact-details-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 1rem;
}

  .contact-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contact-title {
    font-size: 1rem;
    font-family: var(--font-title);
    color: var(--color-primary)
  }
  
  .contact-address {
    font-size: .8rem;
    text-decoration: none;
    font-weight: 300;
  }

  .contact-address:hover {
    text-decoration: underline;
  }

  .typing-container{
    display: inline-block;
  }
  
  .contact-page-subtitle {
    font-size: .8rem;
    letter-spacing: 0.16em;
    font-family: var(--font-mono);
    border-right: .07em solid black;
    font-weight: 300;
    width: 100%;
    white-space: nowrap;
    animation: 
        typing 3s steps(12),
        cursor .7s step-end infinite alternate;
  }
  
  @keyframes cursor {
    50% { border-color: transparent; }
  }

    @keyframes typing {
        from { width: 0; }
    }

  .light-theme .contact-address {
    color: #342f2d;
  }

  .dark-theme .contact-address {
    color: #EEE9E3; 
  }
  
  .dark-theme .contact-page-title, .contact-title {
    color: var(--color-accent);
  }

 
 @media (min-width: 768px) {

      .contact-page-subtitle, .contact-address {
        font-size: 1rem;
      }

  }  
  
  
  
