.contact-page-text {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    //color: #342f2d;
    padding-top: 3rem;
    padding-left: 10rem;
  }
  
  .contact-page-title {
    font-family: Oranienbaum;
    font-size: 8rem;
    font-weight: 200;
    margin-right: 2rem;
    color: #D6594C;
  }
  
  .contactContent {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
    margin-top: 1rem;
    padding-left: 10rem;
    //color: #342f2d;
  }

  .contactDetailsContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .contact-title {
    font-size: 1.5rem;
    font-weight: bold;
    vertical-align: bottom;
    font-family: "Oranienbaum", serif;
    color: #D24737;
  }
  
  .contact-address {
    //color: #342f2d;
    font-size: 1.3rem;
    text-decoration: none;
    margin-bottom: none;
    vertical-align: bottom;
    display: inline-block; 
    margin-left: 0.5rem; 
  }
  
  .internshipDetails {
    font-size: 1.2rem;
    padding-left: 0;
    font-family: sans-serif;
    font-weight: 100;
    margin-top: 1.5rem;
  }
  
  h3 {
    font-family: "Oranienbaum", serif;
    font-size: 1.5rem;
    margin-bottom: .5rem;
    margin-top: 1rem;
    font-weight: 200;
    color: #D24737;
  }
  
  .internshipDetails p {
    margin-top: 0.5rem;
    width: 50rem;
    line-height: 1.5rem;
  }
  
  .internshipDetails strong {
    display: block;
    margin-top: 1rem;
    font-weight: 550;
  }

  .bolder {
    font-weight: 600;
}

  .typing-container{
    display: inline-block;
  }
  
  .contact-page-subtitle {
    font-size: 1.5rem;
    letter-spacing: 0.2em;
    font-family: sans-serif;
    border-right: .07em solid black;
    font-weight: 100;
    width: 100%;
    margin-bottom: 2rem;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 2s steps(12),
        cursor .7s step-end infinite alternate;
  }
  
  @keyframes cursor {
 //   from, to { border-color: transparent; }
    50% { border-color: transparent; }
  }

    @keyframes typing {
        from { width: 0; }
    //    to { width: 100%; }
    }

      /* Theme Styles */

  .light-theme .contact-address {
    color: #342f2d;
  }

  .dark-theme .contact-address  {
    color: #EEE9E3; 
  }
  
