  .contact-page-container
  {
    margin: 3rem;
   }
  
  .contact-page-title {
    font-family: Oranienbaum;
    font-size: 3rem;
    margin-right: .8rem;
    color: var(--color-secondary);
    display: inline-block;
  }

  .contact-details-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 1rem;
  }

  .contact-details {
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  
  .contact-title {
    font-size: 1rem;
    font-weight: bold;
    font-family: "Oranienbaum", serif;
    color: var(--color-secondary)
  }
  
  .contact-address {
    font-size: .8rem;
    text-decoration: none;
    font-weight: 300;
  }

  .contact-address:hover {
    text-decoration: underline;
  }

  .typing-container{
    display: inline-block;
  }
  
  .contact-page-subtitle {
    font-size: .8rem;
    letter-spacing: 0.16em;
    font-family: Roboto, sans-serif;
    border-right: .07em solid black;
    font-weight: 300;
    width: 100%;
    white-space: nowrap;
    animation: 
        typing 3s steps(12),
        cursor .7s step-end infinite alternate;
  }
  
  @keyframes cursor {
    50% { border-color: transparent; }
  }

    @keyframes typing {
        from { width: 0; }
    }

      /* Theme Styles */

  .light-theme .contact-address {
    color: #342f2d;
  }

  .dark-theme .contact-address  {
    color: #EEE9E3; 
  }
  

 
 @media (min-width: 768px) {
  
    .contact-page-title {
      font-size: 6rem;
      vertical-align: bottom;
      margin-bottom: 0;

      }

      .contact-page-subtitle {
        font-size: 1.2rem;
      }

      .contact-title {
        font-size: 1.6rem;
      }

      .contact-address {
        font-size: 1.2rem;
      }

  }  
  
  
  
