
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf");
}

.home-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  text-align: center;
}

.home-page-title {
  font-family: var(--font-title);
  font-size: 3rem;
  text-align: center;
}

.h1-link {
  text-decoration: none;
  color: var(--color-primary);
}

.home-page-subtitle {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  padding: 2rem;
  text-align: center;
}

/*  .rotating-text {
  width: 120px;
  height: 120px;
  animation: rotate 10s linear infinite;
  color: black;
} 

text {
  font-family: sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
} */

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.light-theme .navbar {
  color: #342f2d;
}

.dark-theme .navbar {
  color: #EEE9E3;
}

.dark-theme .h1-link {
  color: #EEE9E3;
}

/* Desktop styles */
@media (min-width: 768px) {


}