@font-face {
  font-family: "Hedvig";
  src: url(../assets/fonts/Hedvig_Letters_Serif/HedvigLettersSerif-Regular-VariableFont_opsz.ttf);
}

.navbar {
  position: relative;
  z-index: 1000;
}

.profile-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: .3rem 1.5rem 0rem 1.5rem;
  object-fit: cover;
}

.image-title {
  display: flex;
  flex-direction: row;
  margin: 1.5rem 0 0 1.5rem;
}

.title {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main-title {
  font-size: 1rem;
  font-weight: 650;
  font-family: Roboto, sans-serif;
}

.subtitle {
  font-size: 1rem;
  font-family: serif;
  font-weight: 100;
}

.nav-links {
  font-family: Roboto, sans-serif;
  background: none;
  font-size: 1rem;
  border: none;
  gap: 1.5rem;

}

.nav-link {
  text-decoration: none;
}

.nav-link:hover {
  font-weight: bold;
}

.nav-link:active {
  font-weight: bold;
}

.nav-link:active,
.nav-link.active-nav-link {
  font-weight: bold;
}


.theme-button {
  background: none;
  border: none; 
  cursor: pointer;
  margin-right: 1.5rem;
}

button.navbar-toggler {
  border: none;
  outline: none;
  margin: 1.5rem;
}

/* Theme-specific styles for navbar links */
.light-theme .navbar .nav-link,
.light-theme .title {
  color: #342f2d;
}

.dark-theme .navbar .nav-link,
.dark-theme .title 
{
  color: #EEE9E3;
}

.dark-theme .title:hover {
  color: #EEE9E3;
}

/* NavBar.scss */

/* Light theme styles */
.light-theme .custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23342f2d' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Dark theme styles */
.dark-theme .custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23EEE9E3' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@media (max-width: 768px) {
  .navbar-collapse {
    top: 100px;
    right: 10px;
    position:absolute;
    z-index: 999;
    background-color: var(--color-background-light);
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
  }
}
