/* 

.navbar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    box-shadow: none;
    //color: #342f2d;
  
    .title {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        cursor: pointer;
        //color: #342f2d;
        text-decoration: none;

  
      .main-title {
        font-size: 1rem;
        font-weight: bold;
        font-family: sans-serif;
      }
  
      .subtitle {
        font-size: 1rem;
        font-family: serif;
        font-weight:100;
      }
    }
  
    .nav-links {
      display: flex;
      align-items: center;
      justify-content:center;
      flex-grow: 1; 
      font-family: sans-serif;
      background: none;
      cursor: pointer;
      font-size: 1rem;
      border: none;
      
  
      .nav-link {
        justify-content: flex-end;
        padding: 3rem;
        //color: #342f2d;
        text-decoration: none;
        }
      }
      .nav-link:hover {
        color: #D6594C;
        font-weight: bold;
      }
      .nav-link:active {
        //color: #342f2d;
        font-weight: bold;
      }
    
    }

 */

 .navbar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  box-shadow: none;
}

.title {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  cursor: pointer;
  text-decoration: none;
}

.main-title {
  font-size: 1rem;
  font-weight: bold;
  font-family: sans-serif;
}

.subtitle {
  font-size: 1rem;
  font-family: serif;
  font-weight: 100;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  font-family: sans-serif;
  background: none;
  cursor: pointer;
  font-size: 1rem;
  border: none;
}

.nav-link {
  justify-content: flex-end;
  padding: 3rem;
  text-decoration: none;
}

.nav-link:hover {
  color: #D6594C;
  font-weight: bold;
}

.nav-link:active {
  font-weight: bold;
}


/* Theme-specific styles for navbar links */
.light-theme .navbar .nav-link,
.light-theme .title {
  color: #342f2d;
}

.dark-theme .navbar .nav-link,
.dark-theme .title {
  color: #EEE9E3;
}
