body {
  overflow-x: hidden;
}

.projects-page-text {
  display: flex;
  flex-direction: row;
  align-items: flex-end; 
}

.projects-page-container {
  margin: 3rem;
}

.projects-page-title {
  font-family: Oranienbaum;
  font-size: 2rem;
  font-weight: 200;
}


.projects-page-subtitle {
  display: none;
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

.projectsGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;

}

.projectCard {
  flex: 0 0 auto; 
  width: 70vw;
  margin-right: 2rem; 
}

.projectImageWrapper {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.projectImage {
  width: 100%;
  height: auto;
}

.project-title {
  font-family: "Oranienbaum", serif;
  font-size: 1rem;
  margin: 1rem 0rem;
  text-decoration: none;
  color:#342f2d;
}

.projectOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 8px;
}

.projectImageWrapper:hover .projectOverlay {
  opacity: 1;
}

.projectView {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem;
  font-weight: 100;
  color: white;
  background: black;
  padding: 1rem 1rem;
  border-radius: 100%;
  transform: rotate(-15deg);
}

.light-theme .projectTitle {
  color: #342f2d;
}

.dark-theme .projectTitle {
  color: #EEE9E3; 
}

.dark-theme .projects-page-title {
  color: #D6594C;
}

.dark-theme * {
  scrollbar-color: #EEE9E3 #342f2d;
}

/* Desktop styles */
@media (min-width: 768px) {

  .projects-page-title {
    font-size: 6rem;
  }

  .projects-page-subtitle {
    display: block;
    font-size: 0.5rem;
  }

  .projectCard {
    width: 40vw;
  }
}
