
.projects-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
}

.projects-page-title {
  font-family: var(--font-title);
  color: var(--color-primary);
  font-size: 3rem;
  font-weight: 200;
  margin-bottom: 2rem;
}


.projects-page-subtitle {
  display: none;
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  padding: 0 2rem; 
}

.project-card {
  width: 20rem;
  
}

.project-image-wrapper {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.project-image {
  width: 100%;
  height: auto;
}

.project-title {
  font-family: var(--font-mono);
  font-size: 1rem;
  margin: 1rem 0rem;
  text-decoration: none;
  color: var(--color-primary);
  text-align: center;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 8px;
}

.project-image-wrapper:hover .project-overlay {
  opacity: 1;
}

.project-view {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem;
  font-weight: 100;
  color: white;
  background: black;
  padding: 1rem 1rem;
  border-radius: 100%;
  transform: rotate(-15deg);
}

.light-theme .project-title {
  color: #342f2d;
}

.dark-theme .project-title {
  color: #EEE9E3; 
}

.dark-theme .projects-page-title {
  color: #D6594C;
}

@media (min-width: 768px) {

  .projects-page-subtitle {
    display: block;
    font-size: 0.5rem;
  }

  .projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 2rem;
    justify-content: center;
    padding: 0 2rem; 
  }
  
  .project-card {
    width: 25rem; 
  }

}
